<server description="Intro REST Guide Liberty server">

  <featureManager>
      <feature>microProfile-3.3</feature>
  </featureManager>

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                id="defaultHttpEndpoint" host="*" />

  <webApplication location="jaxrs-order-mp.war" contextRoot="${app.context.root}"/>
  <quickStartSecurity userName="admin" userPassword="adminpwd"/>
  <keyStore id="defaultKeyStore" location="key.jks" type="jks" password="mpKeystore"/>

</server>
